<h4>Create new car</h4>

<form [formGroup]="form" (ngSubmit)="submit()">
    <input type="text" formControlName="model" placeholder="model">
    <input type="text" formControlName="manufacturerId" placeholder="manufacturer">
    <input type="text" formControlName="mileage" placeholder="mileage">
    <input type="number" formControlName="registrationYear" placeholder="registrationYear">
    <input type="number" formControlName="manufactureYear" placeholder="manufactureYear">
    <button (click)="submit()">submit</button>
</form>